target/
build/
dist/
out/
bin/

# IntelliJ
.idea/
*.iml

### Eclipse ###
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store